body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
}
.input-field{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.login-container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}
.login-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}
.login-container input {

    width: 100%;
    margin-bottom: 20px;
    padding: 12px;

    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f9f9f9;

}
.login-container button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}
.login-container button:hover {
    background-color: #0056b3;
}
.error-message {
    color: red;
    margin-top: 10px;
    font-size: 14px;

}
